[Unit]
Description=Run buienradar
Documentation=https://github.com/miekg/buienradar

# Run every 10m
[Timer]
OnCalendar=*:0/10

[Install]
WantedBy=timers.target
