[Unit]
Description=Run make.volumes with all the actions: 'create', 'archive', 'permissions', 'size' and 'inventory'
Wants=cncz-userdb-make.volumes.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/make.volumes --action create
ExecStart=/usr/local/bin/make.volumes --action archive
ExecStart=/usr/local/bin/make.volumes --action permissions
ExecStart=/usr/local/bin/make.volumes --action size
ExecStart=/usr/local/bin/make.volumes --action inventory

[Install]
WantedBy=multi-user.target
