Source: buienradar
Section: utils
Priority: extra
Maintainer: Miek Gieben <miek@miek.nl>
Uploaders: Miek Gieben <miek@miek.nl>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.8
Vcs-Git: https://github.com/miekg/buienradar
Homepage: https://github.com/miekg/buienradar

Package: buienradar
Architecture: any
Description: Buienradar exports prometheus metrics from the buienradar API.
 Via the XML API of Buienradar, buienradar will generated a node-exporter text file
 with the metrics gathered from that XML file.
